<div class="info">
  <h1 style="text-align:center">
      {{new.name}}, WA
  </h1>

  <div class="inline-blk" >
    <ul>
      <li> <span style="font-weight: bold;"> HUMIDITY :</span> <span style="font-style: italic;"> {{new.humidity}} </span></li>
      <li> <span style="font-weight: bold;"> TEMPERATURE (Average) :</span> <span style="font-style: italic;"> {{new.avgTemp}} </span></li>
      <li> <span style="font-weight: bold;"> TEMPERATURE (High) :</span> <span style="font-style: italic;"> {{new.highTemp}} </span></li>
      <li> <span style="font-weight: bold;"> TEMPERATURE (Low) : </span> <span style="font-style: italic;"> {{new.lowTemp}} </span></li>
      <li> <span style="font-weight: bold;"> STATUS : </span> <span style="font-style: italic;"> {{new.status}} </span></li>
    </ul>
  </div>

  <div class="inline-blk">
    <img width="400" alt="Seattle" src="assets/images/Seattle.jpeg">
  </div>

</div>
